.login-page {
    height: 1000px;    
}

.login-form {
    display: flex;
    justify-content: center;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    row-gap: 20px;
    width: 169px;
}

.login-password-container, .login-email-container {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.reset-password, .signup {
    font-size: 15.5px;
}

.login-button {
    color: #FF1616;
    width: 169px;
}